body {
  width: 90%;
  margin: 0 auto;
  font-family: 'Lato';
  font-weight: 300;
}
  
.intro {
  text-align: center;
  display: block;
  padding-bottom: 0.5em;
  margin: 0 auto;
}

.wrapper {
  text-align: center;
  margin-top: 2em;
}

.cta {
  font-size: 1.5rem;
}

.gauge {
  position: absolute;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  top: 40%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.gauge_index {
	position: absolute;
	margin-top: 135px;
	margin-left: 92px;
	color: #fff;
}

.gauge__values span {
  width: 180px;
  position: absolute;
  color: #fff;
  left: 12%;
  top: 48%;
}
.yellow .gauge__values, .orange .gauge__values {
  color: #000;
}

.gauge_value, .gauge_rating {
  text-transform: uppercase;
  font-weight: bold;
  display: block;
}

.gauge_value {
  font-size: .5em;
}

.gauge_rating {
  font-size: 1.2em;
  letter-spacing: .1em;
}

svg {
  display: block;
  margin: 1em auto 0;
}

.outer_ring {
	fill: none;
}

.spinner {
  stroke-width: 2;
  stroke: rgba(0, 0, 0, 0.1);
  stroke-miterlimit: 10;
  transform-origin: 120px 120px;
  transition: all 1s;
  box-shadow: 0px 2px 1px white inset, 0px -2px 5px white, 0px 2px 3px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);
  fill: #bfbfbf;
}
.green .spinner {
  transform: rotate(75deg);
}
.yellow .spinner {
  transform: rotate(125deg);
}
.orange .spinner {
  transform: rotate(180deg);
}
.red .spinner {
  transform: rotate(230deg);
}
.black .spinner {
  transform: rotate(280deg);
}

.ring_green {
  fill: #63ea63;
}

.ring_yellow {
  fill: #ffde59;
}

.ring_orange {
  fill: #ff7b00;
}

.ring_red {
  fill: #d62d20;
}

.ring_black {
  fill: #000000;
}

.type {
  fill: #fff;
}

